Repository Weact/Web-RandoAddict, pull requests merged in 2022-03, with the labels that each got.

#21 ## [0.0.2] - 2022-03-23
  Changelogs/Changelog_RS.md
  PHP/Structure/googleMap.php
Labels: php

#22 Footer
  HTML/Structure/Footer.html
  HTML/Structure/Header.html
  PHP/Accueil.php
  PHP/Structure/Footer.php
  PHP/Structure/Head.php
Labels: HTML/Bootstrap

#24 Header Online
  HTML/Structure/Header.html
  HTML/Structure/Header_Online.html
  PHP/Structure/Header.php
Labels: HTML/Bootstrap

#26 Le header admin
  HTML/Structure/HeaderAdmin.html
  PHP/Accueil.php
  PHP/Structure/HeaderAdmin.php
Labels: HTML/Bootstrap

#31 Feature/gg page rando finie
  HTML/Structure/PageRandonee.html
  PHP/Accueil.php
  PHP/PageRandonee.php
  index.php
Labels: HTML/Bootstrap

#35 Feature/gg page rando
  HTML/Structure/PageRandonee.html
Labels: HTML/Bootstrap

#34 Feature/luc phpobjects
  Changelogs/Changelog_LC.md
  PHP/DBOperation/Managers/Manager.php
  PHP/DBOperation/Managers/ManagerCorrespondance.php
  PHP/DBOperation/Managers/ManagerEscale.php
  PHP/DBOperation/Managers/ManagerExcursion.php
  PHP/DBOperation/Managers/ManagerMarcheur.php
  PHP/DBOperation/Managers/ManagerMateriel.php
  PHP/DBOperation/Managers/ManagerNecessaire.php
  PHP/DBOperation/Managers/ManagerParticipation.php
  PHP/DBOperation/Managers/ManagerPhoto.php
  PHP/DBOperation/Managers/ManagerProgramme.php
  PHP/DBOperation/Managers/ManagerTerrain.php
  PHP/DBOperation/Managers/ManagerTraversee.php
  PHP/DBOperation/Managers/ManagerType.php
  PHP/DBOperation/Objects/.gitkeep
  PHP/DBOperation/Objects/CorrespondanceObject.php
  PHP/DBOperation/Objects/EscaleObject.php
  PHP/DBOperation/Objects/ExcursionObject.php
  PHP/DBOperation/Objects/MarcheurObject.php
  PHP/DBOperation/Objects/MaterielObject.php
  PHP/DBOperation/Objects/NecessaireObject.php
  PHP/DBOperation/Objects/ParticipationObject.php
  PHP/DBOperation/Objects/PhotoObject.php
  PHP/DBOperation/Objects/ProgrammeObject.php
  PHP/DBOperation/Objects/TerrainObject.php
  PHP/DBOperation/Objects/TraverseeObject.php
  PHP/DBOperation/Objects/TypeObject.php
  PHP/DBOperation/PDO_Connect.php
Labels: php

#30 Ajout_page_admin
  Changelogs/Changelog_JZ.md
  HTML/Structure/HeaderAdmin.html
  HTML/Structure/ListeRandonneesAccueil.html
  HTML/Structure/ListeRandonneesAdminPage.html
  HTML/Structure/PageAdmin.html
  PHP/Structure/Head.php
  PHP/Structure/ListeRandonneesAdminPage.php
  PHP/Structure/PageAdmin.php
Labels: HTML/Bootstrap

#37 Feature/luc phpobjects
  Changelogs/Changelog_LC.md
  PHP/DBOperation/Managers/Manager.php
  PHP/DBOperation/Managers/ManagerCorrespondance.php
  PHP/DBOperation/Managers/ManagerEscale.php
  PHP/DBOperation/Managers/ManagerExcursion.php
  PHP/DBOperation/Managers/ManagerMarcheur.php
  PHP/DBOperation/Managers/ManagerMateriel.php
  PHP/DBOperation/Managers/ManagerNecessaire.php
  PHP/DBOperation/Managers/ManagerParticipation.php
  PHP/DBOperation/Managers/ManagerPhoto.php
  PHP/DBOperation/Managers/ManagerProgramme.php
  PHP/DBOperation/Managers/ManagerTerrain.php
  PHP/DBOperation/Managers/ManagerTraversee.php
  PHP/DBOperation/Managers/ManagerType.php
  PHP/DBOperation/Objects/CorrespondanceObject.php
  PHP/DBOperation/Objects/ExcursionObject.php
  PHP/DBOperation/Objects/ParticipationObject.php
Labels: php

#40 Feature/vf connexion modale
  Changelogs/Changelog_VF.md
  HTML/Structure/Header.html
  HTML/Structure/connexionModale.html
  HTML/Structure/inscriptionModale.html
  PHP/Accueil.php
Labels: HTML/Bootstrap, php, JS

#44 Hotfix/LC manager photo
  Changelogs/Changelog_LC.md
  PHP/DBOperation/Managers/ManagerPhoto.php
  PHP/DBOperation/Managers/ManagerProgramme.php
Labels: php

#47 ## [0.0.9] - 2022-03-29
  Changelogs/Changelog_LC.md
  PHP/DBOperation/Managers/ManagerCorrespondance.php
  PHP/DBOperation/Managers/ManagerEscale.php
  PHP/DBOperation/Managers/ManagerExcursion.php
  PHP/DBOperation/Managers/ManagerMarcheur.php
  PHP/DBOperation/Managers/ManagerMateriel.php
  PHP/DBOperation/Managers/ManagerNecessaire.php
  PHP/DBOperation/Managers/ManagerParticipation.php
  PHP/DBOperation/Managers/ManagerPhoto.php
  PHP/DBOperation/Managers/ManagerProgramme.php
  PHP/DBOperation/Managers/ManagerTerrain.php
  PHP/DBOperation/Managers/ManagerTraversee.php
  PHP/DBOperation/Managers/ManagerType.php
  PHP/DBOperation/Objects/CorrespondanceObject.php
  PHP/DBOperation/Objects/EscaleObject.php
  PHP/DBOperation/Objects/ExcursionObject.php
  PHP/DBOperation/Objects/MarcheurObject.php
  PHP/DBOperation/Objects/MaterielObject.php
  PHP/DBOperation/Objects/NecessaireObject.php
  PHP/DBOperation/Objects/ParticipationObject.php
  PHP/DBOperation/Objects/PhotoObject.php
  PHP/DBOperation/Objects/ProgrammeObject.php
  PHP/DBOperation/Objects/TerrainObject.php
  PHP/DBOperation/Objects/TraverseeObject.php
  PHP/DBOperation/Objects/TypeObject.php
Labels: php

#48 ## [0.0.9] - 2022-03-29
  PHP/DBOperation/Managers/ManagerCorrespondance.php
  PHP/DBOperation/Managers/ManagerEscale.php
  PHP/DBOperation/Managers/ManagerExcursion.php
  PHP/DBOperation/Managers/ManagerMarcheur.php
  PHP/DBOperation/Managers/ManagerMateriel.php
  PHP/DBOperation/Managers/ManagerNecessaire.php
  PHP/DBOperation/Managers/ManagerParticipation.php
  PHP/DBOperation/Managers/ManagerPhoto.php
  PHP/DBOperation/Managers/ManagerProgramme.php
  PHP/DBOperation/Managers/ManagerTerrain.php
  PHP/DBOperation/Managers/ManagerTraversee.php
  PHP/DBOperation/Managers/ManagerType.php
Labels: php

#52 Hotfix/lc commentaires
  Changelogs/Changelog_LC.md
  PHP/DBOperation/Managers/Manager.php
  PHP/DBOperation/Managers/ManagerCorrespondance.php
  PHP/DBOperation/Managers/ManagerEscale.php
  PHP/DBOperation/Managers/ManagerExcursion.php
  PHP/DBOperation/Managers/ManagerMarcheur.php
  PHP/DBOperation/Managers/ManagerMateriel.php
  PHP/DBOperation/Managers/ManagerNecessaire.php
  PHP/DBOperation/Managers/ManagerParticipation.php
  PHP/DBOperation/Managers/ManagerPhoto.php
  PHP/DBOperation/Managers/ManagerProgramme.php
  PHP/DBOperation/Managers/ManagerTerrain.php
  PHP/DBOperation/Managers/ManagerTraversee.php
  PHP/DBOperation/Managers/ManagerType.php
  PHP/DBOperation/Objects/CorrespondanceObject.php
  PHP/DBOperation/Objects/EscaleObject.php
  PHP/DBOperation/Objects/ExcursionObject.php
  PHP/DBOperation/Objects/MarcheurObject.php
  PHP/DBOperation/Objects/MaterielObject.php
  PHP/DBOperation/Objects/NecessaireObject.php
  PHP/DBOperation/Objects/ParticipationObject.php
  PHP/DBOperation/Objects/PhotoObject.php
  PHP/DBOperation/Objects/ProgrammeObject.php
  PHP/DBOperation/Objects/TerrainObject.php
  PHP/DBOperation/Objects/TraverseeObject.php
  PHP/DBOperation/Objects/TypeObject.php
Labels: php

#53 Création du fichier gestionForm.php dans include/
  Changelogs/Changelog_RS.md
  PHP/Include/gestionFormBDD.php
  PHP/Structure/PageRandonee.php
Labels: php

#54 ## [0.0.9] - 2022-03-29
  Changelogs/Changelog_LC.md
  PHP/DBOperation/Managers/ManagerMarcheur.php
Labels: php

#36 Page mail
  PHP/Include/mail.php
  PHP/Include/penguin.jpg
Labels: HTML/Bootstrap, DO NOT MERGE

#73 Page FAQ
  CSS/header.css
  HTML/Structure/Footer.html
  PHP/AJAX/pageNavigator.js
  PHP/Structure/PageFAQ.php
Labels: HTML/Bootstrap

#83 ## [0.0.10] - 2022-03-30
  Changelogs/Changelog_LC.md
  PHP/DBOperation/Managers/ManagerProgramme.php
Labels: php

#84 Feature/vf fix forms
  PHP/DBOperation/Managers/ManagerProgramme.php
  PHP/Include/gestionFormBDD.php
  PHP/Include/programManager.php
  PHP/Include/userManager.php
  PHP/Structure/PageAdmin.php
Labels: php

#85 Feature/lc autonecessaire
  PHP/DBOperation/Managers/ManagerProgramme.php
Labels: php

#99 changelog
  Changelogs/Changelog_LD.md
Labels: documentation

#100 ## [0.0.10] - 2022-03-30
  Changelogs/Changelog_LC.md
  PHP/DBOperation/Managers/ManagerExcursion.php
  PHP/DBOperation/Managers/ManagerPhoto.php
  PHP/DBOperation/Managers/ManagerProgramme.php
Labels: php

#103 ## [0.0.5] - 2022-03-30
  ASSETS/1648652274140002319262446ff2b7119.png
  ASSETS/16486524971062472653624470d1b1bfd.png
  ASSETS/1648652511801279293624470df60692.png
  PHP/Accueil.php
  PHP/DBOperation/PDO_Connect.php
  PHP/Include/gestionFormBDD.php
  PHP/Include/programManager.php
  PHP/Structure/PageAdmin.php
Labels: php, JS
